body {
    padding: 5px;
    margin: 5px;
	position: relative;
	align-items: center;
    justify-content: center;
    
    background-color: black;
}
 #map {
     height: 100%;
     width: 100%;
}

html, body {
    height: 80%;
    width: 100%;
}

h1 {
    text-align: center;
    color: slategrey;
}

div {
    margin: auto;
	 position: relative;
}

button {
    position: relative;
}

#playcontrols {
    background-color: dimgray;
    display: flex;
	align-items: center;
	justify-content: center;
}


.leaflet-bar a.leaflet-disabled {
    background-color: dimgrey;
}

.leaflet-bar a, .leaflet-bar a:hover {
    background-color: darkgrey;
}

div.yearControl {
    background-color: grey;
    padding: 4px;
}