body {
    padding: 5px;
    margin: 5px;
	position: relative;
	align-items: center;
    justify-content: center;
    
    background-color: black;
}
 #map {
     height: 500px;
     width: 500px;
}

html, body {
    height: 80%;
    width: 100%;
    padding: 2px;
}

h1 {
    text-align: center;
    color: slategrey;
}

h3 {
    text-align: center;
}

div {
    margin: auto;
	 position: relative;
}

button {
    position: relative;
}

#playcontrols {
    background-color: dimgray;
    display: flex;
	align-items: center;
	justify-content: center;
}


.leaflet-bar a.leaflet-disabled {
    background-color: dimgrey;
}

.leaflet-bar a, .leaflet-bar a:hover {
    background-color: darkgrey;
}

div.yearControl {
    background-color: grey;
    padding: 4px;
}

input {
    width: 80%;
}

button[disabled="disabled"] {
    background-color: grey;
    filter: opacity(50%);
}

.legend {
    background-color: rgb(255,255,255,0.75);
    width: 120px;
    
}

.circle {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

#growing {
    background: green;
}

#shrinking {
    background : red;
}

#nochange {
    background : grey;
}

li {
    list-style-type: none;
    padding-bottom: 2px;
}

p {
    padding-left: 8px;
    padding-right: 8px;
}

div.leaflet-popup-content-wrapper {
    background-color : darkgrey;
}





/*styles applied to input slider

taken from https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
and modified

*/
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: grey;
  cursor: pointer;
  margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: grey;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: grey;
  cursor: pointer;
}


input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: darkgrey;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: darkgrey;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: darkgrey;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: darkgrey;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: darkgrey;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: darkgrey;
}