body {
    padding: 5px;
    margin: 5px;
	position: relative;
	align-items: center;
    justify-content: center;
}
html, body, #map {
    height: 500px;
    width: 700px;
}

h1 {
    text-align: center;
}

div {
    margin: auto;
	 position: relative;
}

button {
    position: relative;
}

#playcontrols {
    background-color: lightblue;
    display: flex;
	align-items: center;
	justify-content: center;
}

input[type="range"]::-moz-range-track {
  padding: 0 10px;
  background: repeating-linear-gradient(to right, 
    #ccc, 
    #ccc 10%, 
    #000 10%, 
    #000 11%, 
    #ccc 11%, 
    #ccc 20%);
}