body {
    padding: 5px;
    margin: 5px;
	position: relative;
	align-items: center;
    justify-content: center;
}
html, body, #map {
    height: 500px;
    width: 700px;
}

h1 {
    text-align: center;
}

div {
    margin: auto;
	 position: relative;
}

button {
    position: relative;
}

#playcontrols {
    background-color: lightblue;
    display: flex;
	align-items: center;
	justify-content: center;
}